<mat-tab-group>
  <mat-tab label="Http">
    <app-http></app-http>
  </mat-tab>

  <mat-tab label="Forms">
    <app-form-validate></app-form-validate>
  </mat-tab>

  <mat-tab label="Part">
    <app-part></app-part>
  </mat-tab>

  <mat-tab label="ClassAndStyle">
    <app-ngClassAndStyle></app-ngClassAndStyle>
  </mat-tab>

  <mat-tab label="ngIF">
    <app-ngIF></app-ngIF>
  </mat-tab>

  <mat-tab label="ngSwitch">
    <app-ngSwitch></app-ngSwitch>
  </mat-tab>

  <mat-tab label="ngFor">
    <app-ngFor></app-ngFor>
  </mat-tab>

  <mat-tab label="Pip">
    <app-Pip></app-Pip>
  </mat-tab>

  <mat-tab label="Users">
    <app-users></app-users>
  </mat-tab>

  <mat-tab label="datepicker">
    <app-datepicker></app-datepicker>
  </mat-tab>

  <mat-tab label="App-switch">
    <app-switch
      [(ngModel)]="appState"
      (ngModelChange)="handerChange()"
    ></app-switch>
    <p>AppState: {{ appState }}</p>
  </mat-tab>
  <mat-tab label="Posts">
    <app-post-form (addNewPost)="updatePost($event)"></app-post-form>

    <app-post *ngFor="let data of posts" [myData]="data"></app-post>

    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="getFakePost()"
    >
      Get post
    </button>

    <app-post *ngFor="let item of downloadPost" [myData]="item"></app-post>
  </mat-tab>

  <mat-tab label="Secvice">
    <div>
      <h2>Service</h2>
  
      <h3>Counter: {{ count.counter }}</h3>
      <button
        mat-raised-button
        color="primary"
        class="btn"
        (click)="count.increase()"
      >
        +
      </button>
      <button
        mat-raised-button
        color="primary"
        class="btn"
        (click)="count.decrease()"
      >
        -
      </button>
  
      <h3>Local Counter: {{ localCounter.counter }}</h3>
      <button
        mat-raised-button
        color="primary"
        class="btn"
        (click)="localCounter.increase()"
      >
        +
      </button>
      <button
        mat-raised-button
        color="primary"
        class="btn"
        (click)="localCounter.decrease()"
      >
        -
      </button>
  
      <app-service-modul></app-service-modul>
    </div>
  </mat-tab>
</mat-tab-group>
