<mat-tab-group>
  <mat-tab label="Forms">
    <app-form-validate></app-form-validate>
  </mat-tab>

  <mat-tab label="Part">
    <app-part></app-part>
  </mat-tab>

  <mat-tab label="ClassAndStyle">
    <app-ngClassAndStyle></app-ngClassAndStyle>
  </mat-tab>

  <mat-tab label="ngIF">
    <app-ngIF></app-ngIF>
  </mat-tab>

  <mat-tab label="ngSwitch">
    <app-ngSwitch></app-ngSwitch>
  </mat-tab>

  <mat-tab label="ngFor">
    <app-ngFor></app-ngFor>
  </mat-tab>

  <mat-tab label="Pip">
    <app-Pip></app-Pip>
  </mat-tab>

  <mat-tab label="Users">
    <app-users></app-users>
  </mat-tab>

  <mat-tab label="datepicker">
    <app-datepicker></app-datepicker>
  </mat-tab>
</mat-tab-group>
