<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />

      <div
        *ngIf="emailControl.invalid && emailControl.touched"
        class="validation"
      >
        <small *ngIf="emailControl.errors?.required">
          Поле email не может быть пустым
        </small>

        <small *ngIf="emailControl.errors?.email">
          Введите корректный email
        </small>

        <small *ngIf="emailControl.errors?.restrictedEmail">
          Email {{ emailControl.value }} не доступен
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password" />

      <div
        *ngIf="passwordControl.invalid && passwordControl.touched"
        class="validation"
      >
        <small *ngIf="passwordControl.errors?.required">
          Пароль не может быть пустым
        </small>

        <small *ngIf="passwordControl.errors?.minlength">
          Длинна должна быть не менее
          {{ passwordControl.errors?.minlength?.requiredLength }}
          символов. Сейчас количество символов
          {{ passwordControl.errors?.minlength?.actualLength }}
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="город" />
      </div>

      <button
        mat-raised-button
        color="primary"
        class="btn"
        type="button"
        (click)="setCapital()"
      >
        Выбрать столицу
      </button>
    </div>

    <div class="card" formGroupName="skills">
      <h2>Ваши навыки</h2>
      <button
        (click)="addSkill()"
        mat-raised-button
        color="primary"
        class="btn"
        type="button"
      >
        Добавить умение
      </button>
      <div
        class="form-control"
        *ngFor="let control of skillsControl.controls; let i = index"
      >
        <label>Skills {{ i + 1 }}</label>
        <input type="text" [formControlName]="i" />
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="btn"
      type="submit"
      [disabled]="form.invalid"
    >
      Отправить
    </button>
  </form>
</div>
