<nav class="navbar">
  <h1><a [routerLink]="['/']">Angular</a></h1>

  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/post']">About</a>
    </li>
  </ul>

  <button mat-button [matMenuTriggerFor]="menu">Navigation</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/form">Form</button>
    <button mat-menu-item routerLink="/post_form">Post form</button>
    <button mat-menu-item [routerLink]="['/post']">Post</button>
    <button mat-menu-item routerLink="/datepicker">Datepicker</button>
    <button mat-menu-item routerLink="/http">Http</button>
    <button mat-menu-item routerLink="/style">Style and Class</button>
    <button mat-menu-item routerLink="/for">NgFor</button>
    <button mat-menu-item routerLink="/if">NgIf</button>
    <button mat-menu-item routerLink="/ng_switch">NgSwitch</button>
    <button mat-menu-item routerLink="/img">Img</button>
    <button mat-menu-item routerLink="/pipe">Pipe</button>
    <button mat-menu-item routerLink="/switch">Switch</button>
    <button mat-menu-item routerLink="/tabs">Tabs</button>
  </mat-menu>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
