<h1>Hello Angular</h1>

<input type="text" (keyup)="onInput($event)">
<p><strong>{{inputValue}}</strong></p>

<hr> <!-- //////////////////////////////////////////// -->

    <app-part></app-part>

<hr> <!-- //////////////////////////////////////////// -->

    <app-post></app-post>

<hr> <!-- //////////////////////////////////////////// -->

    <app-ngClassAndStyle></app-ngClassAndStyle>

<hr> <!-- ///////////////////ngIF///////////////////////// -->

    <app-ngIF></app-ngIF>

<hr> <!-- ////////////////////ngSwitch//////////////////////// -->

    <app-ngSwitch></app-ngSwitch>

<hr> <!-- ////////////////////*ngFor//////////////////////// -->    
 
    <app-ngFor></app-ngFor>

<hr> <!-- ////////////////////Pip//////////////////////// -->  

    <app-Pip></app-Pip>

    <app-users></app-users>