<div class="container">
  <h1>Hello Angular</h1>

  <app-switch
    [(ngModel)]="appState"
    (ngModelChange)="handerChange()"
  ></app-switch>

  <p>AppState: {{ appState }}</p>
  <!-- //////////////////////////////////////////// -->
  <hr />

  <app-tabs></app-tabs>
  <!-- //////////////////////////////////////////// -->
  <hr />

  <input type="text" (keyup)="onInput($event)" />
  <p>
    <strong>{{ inputValue }}</strong>
  </p>

  <!-- //////////////////////////////////////////// -->
  <hr />

  <app-post-form (addNewPost)="updatePost($event)"></app-post-form>

  <app-post *ngFor="let data of posts" [myData]="data"></app-post>

  <button mat-raised-button color="primary" class="btn" (click)="getFakePost()">
    Get post
  </button>

  <app-post *ngFor="let item of downloadPost" [myData]="item"></app-post>

  <!-- //////////////////Service//////////////////// -->
  <hr />

  <div>
    <h2>Service</h2>

    <h3>Counter: {{ count.counter }}</h3>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="count.increase()"
    >
      +
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="count.decrease()"
    >
      -
    </button>

    <h3>Local Counter: {{ localCounter.counter }}</h3>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="localCounter.increase()"
    >
      +
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="localCounter.decrease()"
    >
      -
    </button>

    <app-service-modul></app-service-modul>
  </div>

  <hr />
</div>
